.logotxt {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;


}

.navBarBtns {
    display: flex;
    justify-content: flex-end;

    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    font-size: 25px;


}

.logolft {
    display: flex;
    justify-content: left;
}

.menuOpts {
    width: 800px;
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

.titleGrp {
    display: flex;
    justify-content: center;

}

.titletxt {
    font-size: 7.5vw;
    font-family: 'Krona One', sans-serif;
    filter: drop-shadow(5px 5px 5px);
}

.luffy {
    position: absolute;
    width: 27%;
    padding-top: 40px;
    filter: drop-shadow(10px 10px 5px);
}

.FKOP {
    font-family: 'Krona One', sans-serif;
    /* margin-left: 90px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-10%);
}

.sideTxt1 {

    text-align: center;
    font-size: 80px;

}

.sideTxt2 {

    text-align: center;
    font-size: 90px;

}

.sideTxt3 {

    text-align: center;
    font-size: 100px;

}

.landingQuote { 
    font-family: 'Krona One', sans-serif;
    font-size: 60px;
}

.quoteContainer { text-align: center;
    display: flex;
    float: right; 
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-10%);
    flex-direction: column;
    padding-right: 100px;
    padding-top: 300px;
}

.interestImg {
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 50%;
}

.pageTitle {
    font-family: 'Krona One', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.imgEats {
    width: 85% ;
}

.interestList {
    padding-top: 2rem;
    display: flex;
    font-family: 'Krona One', sans-serif;
    justify-content: center;
    font-size: 75px;
}

.listDesign {
    text-align: center;
    list-style-position: inside;

    line-height: 130px;
    
}

.listDesignmodded {
    text-align: center;
    list-style-position: inside;
    align-content: center;
   
}

.accompList {
    padding-top: 40px;
    display: flex;
    font-family: 'Krona One', sans-serif;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
    list-style-position: inside;
    
    text-align: center;
}

.accompList li {
    margin-bottom: 20px;
}

.crewIMG {
    display: flex;
    justify-content: flex-end;
    width: 120%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(10%);
    border: 5px solid black;
    padding: 10px;
    padding-right: 200px;
    
}



.center-cards {
    display: flex;
    
    justify-content: space-evenly;
}

.CTCenter {
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.CTT {
    font-size: 37px;
    font-weight: 700;
    text-shadow: 1px 2px 4px;
    
}

.CBT {
    font-size: 38px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-edit {
    width: 100px;
}

.img-resize {
    display: flex;
    padding-left: 80px;
    width: 500px;
    
}

